.item_block {
    width: 400px;
    margin: 20px;
    float: left;
}

.item_avatar{
    width: 150px;
    height: 150px;
    float: left;
    margin-right: 10px;
}

.item_name {
    font-size: 20px;
    font-weight: 600;
    color: #333333;
    margin-bottom: 10px;
}

.item_description {
    font-size: 14px;
    font-weight: 400;
    color: #666666;
    margin-bottom: 10px;
}

.item_price {
    font-size: 18px;
    font-weight: 600;
    color: #333333;
    margin-bottom: 10px;
}