.userTable {
    border-collapse: collapse;
    border: 1px solid #000000;
}

.userTableHeader {
    text-align: center;
    background: none repeat scroll 0 0 #B5B5B5;
    border-bottom: 1px solid #000000;
    padding: 2px;
}

.userTableOddRow {
    text-align: left;
    background: none repeat scroll 0 0 #FFFFFF;
}

.userTableEvenRow {
    text-align: left;
    background: none repeat scroll 0 0 #D3D3D3;
}

.userTableColumns {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.menuButton {
    color: #ffffff;
    background: url("../images/restaurant-pattern.jpg");
    border: none;
    font-size: 4.8mm;
    font-weight: normal;
    letter-spacing: 1px;
    color: #cec6ae;
    height: 2.5em;
    width: 10em;
    color: #cec6ae;
    letter-spacing: 1px;
}

.dishes {
    margin-top:25px;
    max-width: 70%;
    margin-left:15%;
    margin-right:15%;
    display: table;
    border-collapse: collapse;
}