td.center {
    text-align: center;
    padding: 5px;
}

/* USER TABLES */
.user_table {
    border-collapse: collapse;
    border: 1px solid #000000;
}

.user_table_header {
    text-align: center;
    background: none repeat scroll 0 0 #B5B5B5;
    border-bottom: 1px solid #000000;
    padding: 2px;
}

.user_table_odd_row {
    text-align: left;
    background: none repeat scroll 0 0 #FFFFFF;
}

.user_table_even_row {
    text-align: left;
    background: none repeat scroll 0 0 #D3D3D3;
}

.user_table_columns {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

/* DISH LIST */
.column_center {
    text-align: right;
}

.dish_available_yes {
    text-align: center;
}

.dish_available_no {
    text-align: center;
    color: red;
}

.dish-table {
    border-collapse: collapse;
}

.table_header {
    font-size: 13pt;
    font-weight: bold;
    background: none repeat scroll 0 0 #d9d9d9;
    padding: 10px;
}

.dish_table_odd_row {
    text-align: left;
    background: none repeat scroll 0 0 #FFFFFF;
}

.dish_table_even_row {
    text-align: left;
    background: none repeat scroll 0 0 #f0f0f0;
}

.dish_table_name {
    font-weight: bold;
    text-align: left;
    padding-left: 2%;
    padding-right: 2%;
}

.column_description {
    text-align: justify;
    width: 30%;
    padding-right: 2%;
}

/* MENU */
.dish_block {
    width: 400px;
    margin: 20px;
    float: left;
}

.dish_photo {
    width: 250px;
    height: 250px;
    float: left;
    margin-right: 10px;
}

.dish_name {
    font-size: 20px;
    font-weight: 600;
    color: #333333;
    margin-bottom: 10px;
}

.dish_description {
    font-size: 14px;
    font-weight: 400;
    color: #666666;
    text-align: justify;
    word-wrap: break-word;
    word-break: keep-all;
    margin-bottom: 10px;
}

.dish_price {
    font-size: 18px;
    font-weight: 600;
    color: #333333;
    margin-bottom: 10px;
}

.dish_table {
    max-width: 100%;
    display: table;
    border-collapse: collapse;
}

.dish_button {
    float: right;
}


/* TEMPLATES */
.customer-menu-items {
    position:relative;
    margin-right:15%;
    letter-spacing:-1px;
    text-align:right;
}