### IntelliJ Idea
*.idea
*.iml
out/

### Eclipse
**/target
.classpath
.project
.settings/
.springBeans
.dbeaver-data-sources.xml

### NetBeans
nbactions.xml
nb-configuration.xml

### Other files
.gitattributes
ERestaurant/
files/userstories.txt
files/project.txt
logs/
data/
src/main/webapp/resources/images/upload/