<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="connection.driver_class">${db.driverClassName}</property>
        <property name="connection.url">${db.url}</property>
        <property name="username" value="${db.username}"/>
        <property name="password" value="${db.password}"/>

        <!-- SQL dialect -->
        <property name="dialect">${hibernate.dialect}</property>

        <!-- Update the database schema on application startup -->
        <property name="hbm2ddl.auto">${hibernate.hbm2ddl.auto}</property>

        <!-- Show the queries prepared by Hibernate -->
        <property name="show_sql">${hibernate.show_sql}</property>

        <!-- Names the annotated entity classes -->
        <mapping class="com.bionic.edu.entity.Customer"/>
        <mapping class="com.bionic.edu.entity.Dish"/>
        <mapping class="com.bionic.edu.entity.DishCategory"/>
        <mapping class="com.bionic.edu.entity.Employee"/>
        <mapping class="com.bionic.edu.entity.OrderDishes"/>
        <mapping class="com.bionic.edu.entity.Orders"/>
        <mapping class="com.bionic.edu.entity.OrderStatus"/>
        <mapping class="com.bionic.edu.entity.Role"/>
    </session-factory>
</hibernate-configuration>